<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RED2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RED2.Properties.Settings>
            <setting name="last_used_directory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="dont_scan_hidden_folders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignore_0kb_files" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keep_system_folders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="clipboard_detection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hide_scan_errors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignore_files" serializeAs="String">
                <value>*.tmp
desktop.ini
Thumbs.db</value>
            </setting>
            <setting name="ignore_directories" serializeAs="String">
                <value>System Volume Information
RECYCLER
Papierkorb
Recycled
NtUninstall
$RECYCLE.BIN
GAC_MSIL</value>
            </setting>
            <setting name="max_depth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="infinite_loop_detection_count" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="pause_between" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ignore_errors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="delete_stats" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="delete_mode" serializeAs="String">
                <value>0</value>
            </setting>
        </RED2.Properties.Settings>
    </userSettings>
</configuration>